In [1]:
from htrc_features import FeatureReader
import numpy as np
import pandas as pd

In [2]:
def get_htrc_page_data(document):
    fr = FeatureReader([document])
    vol = next(fr.volumes())
    ptc = vol.tokenlist(pos=False, case=False).reset_index().drop(['section'], axis=1)
    page_list = set(ptc['page'])
    
    # extract tokens by page 
    tokens=list()
    for page in page_list:
        page_data = str()
        
        # operate on each token
        for page_tokens in ptc.loc[ptc['page'] == page].iterrows():
            if page_tokens[1][1].isalpha():
                
                # deal with frequency count by creating correct number of tokens
                page_data += (' '.join([page_tokens[1][1]] * page_tokens[1][2])) + " "

        tokens.append(page_data.split())
    return tokens

In [3]:
# return bibliographic data
def get_htrc_metadata(document):
    fr = FeatureReader([document])
    vol = next(fr.volumes())
    return([vol.author[0],vol.title,vol.year])

In [4]:
# htids for two classes 
chase_novels = ["mdp.39015004308212",
                "mdp.39015024849682",
                "coo.31924014522449"]
jewett_novels = ["uc1.32106015388678",
                "uc2.ark:/13960/t9w08xb8w",
                "uiug.30112012873441"]

In [5]:
# construct dataframe to display texts
bib = list()
for doc in chase_novels + jewett_novels:
    bib.append(get_htrc_metadata(doc))
df = pd.DataFrame(bib,columns=["Author","Title","Publication Year"])
df

,Author,Title,Publication Year
0,"Chase, Mary Ellen, 1887-1973.","Silas Crockett,",1943
1,"Chase, Mary Ellen, 1887-1973.","Windswept,",1941
2,"Chase, Mary Ellen, 1887-1973.","Mary Peters,",1938
3,"Jewett, Sarah Orne, 1849-1909.",The country of the pointed firs.,1924
4,"Jewett, Sarah Orne, 1849-1909.",Deephaven.,1877
5,"Jewett, Sarah Orne, 1849-1909.",A country doctor.,1970